In [24]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [25]:
# Compute the correlation matrix for python
df1 = pd.read_csv('./x_python.csv', index_col=0)
df2 = pd.read_csv('./x_matlab.csv',header=None)
scaler=MinMaxScaler()

In [26]:
df2

          0         1        2        3         4        5
0    1.2193 -0.024768  0.66656 -0.58013 -0.457810 -0.58213
1    1.3460 -0.177610  0.78694 -0.54483 -0.471070 -0.58229
2    1.5381  0.376250  0.96505 -0.55240 -0.437100 -0.58118
3    1.1633  0.136490  0.61279 -0.54483 -0.432950 -0.58262
4    1.3377 -0.230890  0.77925 -0.48654 -0.453790 -0.58338
..      ...       ...      ...      ...       ...      ...
594 -1.2812  0.077183 -0.97207  0.20667  0.022426 -0.29107
595 -1.2812  0.077183 -0.97207  0.20667  0.022426 -0.29107
596 -1.2187  1.188500 -0.98666 -0.72737  2.002100 -0.43101
597 -1.6649  0.553890 -1.04150 -1.73170 -0.577750  2.42700
598 -1.6649  0.553890 -1.04150 -1.73170 -0.577750  2.42700

[599 rows x 6 columns]

In [27]:
# Initialize an empty DataFrame for storing the correlation values
correlation_matrix = pd.DataFrame(index=df1.columns, columns=df2.columns)

# Calculate the correlation for each pair of columns
for col1 in df1.columns:
    for col2 in df2.columns:
        correlation_matrix.loc[col1, col2] = df1[col1].corr(df2[col2])
correlation_matrix = correlation_matrix.abs()

In [28]:
correlation_matrix

          0         1         2         3         4         5
0  0.124013       1.0  0.410065  0.318212  0.029498  0.081601
1  0.324417  0.318212  0.138838       1.0  0.113246  0.267702
2  0.037086  0.013871  0.425102  0.120275  0.118223  0.361014
3   0.33912  0.081602  0.069115  0.267703  0.115027       1.0
4    0.2586  0.034395  0.114558  0.151024  0.915075  0.041683
5  0.932108  0.018717  0.456739  0.338837  0.149357  0.287724

In [23]:
def categorise_value(x):
    if x > 0.7:
        return 1
    elif x < 0.3:
        return -1
    else:
        return 0
    
correlation_matrix_transform = correlation_matrix.map(categorise_value)
correlation_matrix_transform

   0  1  2  3  4  5
0 -1  1  0  0 -1 -1
1  0  0 -1  1 -1 -1
2 -1 -1  0 -1 -1  0
3  0 -1 -1 -1 -1  1
4 -1 -1 -1 -1  1 -1
5  1 -1  0  0 -1 -1

In [108]:
print(correlation_matrix.max(axis=1).tolist())

[0.8099535290018378, 0.9999999999316618, 0.999999999943212, 0.5957715233926176, 0.9999999998956177, 0.7247803495443668, 0.6627463500038849, 0.9999999999823673, 0.9999999999990138, 0.9999999998308033]

In [102]:
print(correlation_matrix.max(axis=0).tolist())

[0.8099535290018378, 0.9999999999316618, 0.6627463500038849, 0.999999999943212, 0.9999999998956177, 0.5994470817677671, 0.7247803495443668, 0.9999999999823673, 0.9999999999990138, 0.9999999998308033]

In [91]:

correlation_df_normalised= scaler.fit_transform(correlation_matrix)
normalised_correlation = pd.DataFrame(correlation_df_normalised)
normalised_correlation

,0,1,2,3,4,5,6,7,8,9
0,1.000000,0.770488,0.000000,0.395341,0.000000,0.135565,0.599681,0.117558,0.342107,0.547419
1,0.807065,1.000000,0.099495,0.586673,0.006473,0.085553,0.264862,0.308617,0.082546,0.246216
2,0.556044,0.572690,0.257317,1.000000,0.360762,0.000000,0.000000,0.465516,0.136035,0.000000
3,0.043855,0.174465,0.930789,0.264076,0.656798,0.962719,0.587009,0.195157,0.011447,0.582689
4,0.000000,0.000000,0.642432,0.377653,1.000000,0.500071,0.471304,0.269664,0.000000,0.141732
5,0.440633,0.188371,0.319298,0.000000,0.464745,0.807636,1.000000,0.000000,0.149708,0.474126
6,0.102227,0.406421,1.000000,0.378757,0.520011,1.000000,0.404374,0.518964,0.001278,0.111477
7,0.356826,0.462316,0.629423,0.597937,0.435697,0.501757,0.300462,1.000000,0.150024,0.010817
8,0.715666,0.394405,0.149434,0.448373,0.344191,0.564373,0.595596,0.278567,1.000000,0.427481
9,0.596244,0.425500,0.362695,0.262787,0.350103,0.493583,0.727973,0.030585,0.338950,1.000000

In [105]:
def check_correlation(matrix: pd.DataFrame) -> bool:
    """
    Check if for each row or column in the matrix, only one correlation is > 0.9 and others are <= 0.9.
    """
    matrix_np = matrix.to_numpy()
    
    # Above this threshold signify high correlation while below signify low correlation
    threshold = 0.55
    
    # Check for each row, only one correlation greater than threshold
    for row in matrix_np:
        count_above_threshold = np.sum(row > threshold)
        if count_above_threshold != 1:
            print(row)
            return False
    
     # Check for each column, only one correlation greater than threshold
    for col in matrix_np.T:  
        count_above_threshold = np.sum(col > threshold)
        if count_above_threshold != 1:
            return False
    
    # If all rows and columns meet the condition, return True
    return True

In [106]:
check_correlation(correlation_matrix)

[0.8099535290018378 0.6079794081630571 -0.3049446820046506
 -0.06773721120430494 -0.7191916223450321 -0.24229282934188165
 0.15682013394527555 -0.172192959553452 0.2582505750931207
 0.410826260996006]

False